<ng-container *ngIf="!dataSource; else table">
  Loading...
</ng-container>

<ng-template #table>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <ng-container *ngIf="expandedData[element.name]">
            <div>
              Films:
              <ng-container *ngIf="!expandedData[element.name].films.length; else films">No films ¯\_(ツ)_/¯</ng-container>
              <ng-template #films>
                <ul>
                  <li *ngFor="let film of expandedData[element.name].films">
                    {{ film }}
                  </li>
                </ul>
              </ng-template>
            </div>
            <div>
              Residents:
              <ng-container *ngIf="!expandedData[element.name].residents.length; else residents">No residents ¯\_(ツ)_/¯</ng-container>
              <ng-template #residents>
                <ul>
                  <li *ngFor="let resident of expandedData[element.name].residents">
                    {{ resident }}
                  </li>
                </ul>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandElement(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</ng-template>
